<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Find page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<h1 th:text="${title}">Find page</h1>
	<p th:text="${msg}"></p>
	<table>
		<form action="/find" method="post">
			<tr>
				<td>FIND:</td>
				<td><input type="text" name="fstr" size="20"
					th:value="${value}" /></td>
			</tr>
			<tr>
				<td></td>
				<td><button type="submit">検索</button></td>
			</tr>
		</form>
	</table>
	<hr />
	<table>
		<tr>
			<th>ID</th>
			<th>名前</th>
			<th>電話番号</th>
			<th>メール</th>
			<th>年齢</th>
		</tr>
		<tr th:each="obj : ${datalist}">
			<td th:text="${obj.id}"></td>
			<td th:text="${obj.name}"></td>
			<td th:text="${obj.phoneNumber}"></td>
			<td th:text="${obj.mail}"></td>
			<td th:text="${obj.age}"></td>
		</tr>
	</table>
</body>
</html>