<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Top page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<h1 th:text="#{content.title}">Hello page</h1>
	<p th:text="${msg}"></p>	
	<table>
		<tr>
			<th>ID</th>
			<th>名前</th>
			<th>電話番号</th>
			<th>メール</th>
			<th>年齢</th>
			<th>メモ</th>
		</tr>
		<tr th:each="obj : ${datalist}">
			<td th:text="${obj.id}"></td>
			<td th:text="${obj.name}"></td>
			<td th:text="${obj.phoneNumber}"></td>
			<td th:text="${obj.mail}"></td>
			<td th:text="${obj.age}"></td>
			<td th:text="${obj.memo}"></td>
		</tr>
	</table>
	<div>
		<a my:mypage="${datalist.getNumber() - 1}">&lt;&lt;prev</a> ｜ <a
			my:mypage="${datalist.getNumber() + 1}">next&gt;&gt;</a>
	</div>
</body>
</html>